/Algoritmos_de_busca/nbproject/private/
/Algoritmos_de_busca/build/
/Pong/nbproject/private/
/Pong/build/
/JavaFX_Project/nbproject/private/
/JavaFxProject/nbproject/private/
/FX/nbproject/private/
/fx2/nbproject/private/
/JavaFXApplication1/nbproject/private/
/fx2/build/
/MUT_store/nbproject/private/
/MUT_store/build/
/Lista_de_exercicios_1/nbproject/private/
/Lista_de_exercicios_1/build/
/LoginController/nbproject/private/
/MUT_store/dist/
/AulaBaseDeDados/nbproject/private/
/AulaBaseDeDados/build/
/aula_Hibernate/nbproject/private/
/aula_Hibernate/build/
/DB_CRUD_TEMPLATE/nbproject/private/
/DB_CRUD_TEMPLATE/build/
/Sistema_de_gestao_de_funcionarios/nbproject/private/
/Sistema_de_gestao_de_funcionarios/build/
